{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 100,
    "bracketSpacing": true,
    "arrowParens": "always",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^[./]"],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true
}